*, *::after, *::before{
  box-sizing: border-box; 
}

body{ margin: 0px; }

p, label{
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

b{
	font-family: "Lato", sans-serif;
}

ul {
  list-style: none; 
}

li{
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

img {
	width: 100%;
	align: center; 
}

section {
	
	background-color: #ffffff;
   max-width: 70rem;
   display: block;
   margin: auto;
   margin-bottom: 10rem;
   padding-left: 1em;
   padding-right: 1em;
}

input {
	width: 100%;
	margin-bottom: 1em;
}



h1 {
	font-family: "Khand", sans-serif;
    display: block;
    font-size: 2em;
    font-weight: bold;
}


h2 {
	font-family: "Khand", sans-serif;
}


h3{
	font-family: "Khand", sans-serif;
	font-weight: 300;
}

select {
	width: 100%;
	margin-bottom: 1em;
}

#comment { /* reviews and contact form  */
	height: 10em;
	resize: none;
	width: 100%;
	margin-bottom: 1em;  
}

#stars{
	max-width:8em;
	min-width: 6em;
	position: relative;
	top: .5em;
}

#stars-header{
	max-width:6em;
	position: relative;
	top: .5em;
	margin-left: 1em;
}

#inline {   /*Header bar title  */

	 display: inline;

}

#footer {
	background-color: #ededed ;
	width: 100%;
	text-align: center;
	align-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 80px;
}




#flexbox-home{ /*new products flexbox*/
	position: relative;
	top: -8rem;
	margin-bottom: -7em;

}

#more-img{
	position: relative;
	top: -10em;
}

#prod-reviews{
	position: relative;
	top: -10rem;
}


#specs-list{
	margin-left: 8em;
}

#amt-cart{
	width: 50px;
	height: 1.5rem;
	padding-right: 10px;
	margin-left: 1rem;
	position: relative;
	top: .5em;
}

#coupon-cart{
	width: 300px;
	height: 1.5rem;
	margin-right: 10px;
}

#cart-d{
	padding-right: 1rem;
}
#total{
	float: right;
}
#cart-list{
	 padding-bottom: 3em;
 }

 #checkout-form{
	 margin-bottom: 20em;
 }

#about{
	 display: inline-flex;
	 flex-direction: column;
	 flex-wrap: wrap;
 }

#about1{
	height:40rem;
	object-fit: cover;
	opacity: 80%
}

#about2{
	height:20rem;
	object-fit: cover;
	opacity: 80%
}

#about3{
	position: relative;
	top: -0.25rem;
	height:20rem;
	object-fit: cover;
	opacity: 80%
}

#main-color { /*styleguide*/
	background-color: white;
	text-align: center;
	border: solid;
	padding: 1em;
}

#other-main-color {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;
}

#secondary-color {
	background-color: #ffbe00;
	text-align: center;
	padding: 1em;
}


.featureddate {
	color: #d37f00;
	font-size: 2em;
	margin-top: -0.25em;
}

.grid-wrapper{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.container > * {
	flex-grow: 1;
	flex-basis: 50%;
}

.header-wrapper > *{
	flex-grow: 1;
	justify-content: space-between;
	align-items: flex-end;
	background-color: white;

}

.nav-header{
	display: flex;
	max-width: 70em;
    margin-left: auto;
    margin-right: auto;
	align-items: flex-end;
	margin-bottom: 1em;
	margin-top: 2em;
}

.navbar-item {
	float: right;
}

.navbar-item a {
	color: black;
	display: block;
	font-family: "Khand", sans-serif;
	text-align: right;
	padding: 1em;
	text-decoration: none;
}

.navbar-item a:hover {
	color: #ffbe00;
}

div.headerstyle {
	padding: 0em;
}
.logo { /* logo in header */
	width:5em;
}
.logo-footer{
	width:4.5em;
}

.cat { /*cateogries on shop page*/
    display: inline-block;
    color: black;
    background-color: rgb(224, 224, 224);
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
	font-family: "Khand", sans-serif;
}

.cat-active{
	background-color: #ffe79e;
}

a.cat:link{
	color: black;
	text-decoration: none;
}
a.cat:visited{
	color: black;
	text-decoration: none;
}
a.cat:hover{
	color: #ffbe00;
	text-decoration: none;
}
a.cat:active{
	color: #fcedc3;
	text-decoration: none;
}

.columns {
	padding-bottom: 3em;
	padding-right: 1em;
}

.item-text{
	margin-top: 8em;
}

.ul-list li::before { /* probably for reviews */
  content: "\2022";  
  color: #ffbe00; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}

.logo-name{
	font-family: "Din Condensed";
	font-size: 4em;
	position: relative;
	top: -10px;
}

.AH-name{
	font-family: "Din Condensed";
	font-size: 4em;
	position: relative;
	top: -10px;
}

.header {
	font-family: "Impact", "DIN Condensed Bold", Helvetica, sans-serif;
	font-size: 3em;
}

.button {
	font-family: "Khand", sans-serif;
	background-color: white;
	border: solid 2px;
	padding: 1em;
	padding-bottom: 1em;
	margin:  2em 0;
	display: inline-block;
	text-decoration: none;
	width: 30%;
}

.button:hover {
	background-color: black;
	color: white;
}

.button:visited {
	color: #ffbe00;
}

.product {
	width:100%;
	padding-top: 2em;
	padding-left: 2em;
}

.product-header{
	font-size: 2em;
}

.product-text{
	display: inline;
	margin-top: 5em;
}

.product-price{
	display: inline;
	font-size: 3em;
	
}

.product-body-txt {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	padding-top: 2em;
}

/**Pure CSS Star Rating Widget**/
fieldset, label { margin: 0; padding: 0; }


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\2605";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.boxn{ /* shop categories*/
	display: -webkit-flex;
	display:  -ms-flex;
	display:  flex;
	flex-wrap: wrap;
	max-width: 50em;
	margin: auto;
	

	justify-content: space-around;
	
}

.box{ /* grid structure boxes*/
	display: -webkit-flex;
	display:  -ms-flex;
	display:  flex;
	flex-wrap: wrap;
	

	justify-content: space-around;
	margin-left:  auto;
	margin-right:  auto;
	width: 80%;
	align-content: center;
}

.flex-row {
	display: inline-block;
	transition:  background-color 0.5s ease-out;
}

.box-item-home{
    height: 25%;
    width: 25%;
    padding: 1em 1em;
    flex: 1 1 25%;
    transition: .5s ease;
}

.box-item-home:hover {
    
    opacity: 0.6;
}
    
.box-item{
	height: 30%;
	width: 30%;
	padding: 1em 1em;
	flex: 1 1 30%;
	transition: .5s ease;
}

.box-item:hover {
	
	height:35% !important;
	width:35% !important;

	opacity: 0.6;
}

.box-item-more{
	height: 10%;
	width: 10%;
	padding: 1em 1em;
	flex: 1 1 30%;
	transition: .5s ease;
}

.label{
	font-family: Din Condensed;
}

.price{
	font-size: 20px;
	position: relative;
	font-weight: normal;
	text-align: right;
	font-family: Din Condensed;
}

.prod-name{
	font-size: 1.5rem;
	font-family: Din Condensed;
}

.items{ /* product detail spacing*/
	max-width: 70rem;
   display: block;
   margin: auto;
   margin-bottom: 10rem;
}

.item-type-choice{
	width: 10rem;
	display: block;
	margin:auto;
	margin-bottom: 5em;

}
.cart-text{
	display: inline;
	margin-top: 1em;
}

.total-text{
	display: block;
	float: right;
}

.cart-header{
	margin-top: 0px;
	position: relative;
	
	
}

.product-cart{
	width: 50%;
	align-self: left;
	
}

.cart-price{
	text-align: right;
	
}

.coupon-form{
	display: block;
	float: right;
	align-content: right;
}

.coupon-label{
	font-family: "Lato", sans-serif;
	font-weight: 300;
	margin-right: 10px;
}

 .pay-cart{ /*pay button for cart */
	display:block;
	margin: auto;
}


.inline-cart {
  display: flex;
  flex-wrap: row wrap;

  align-items: center;
  vertical-align: center;
  position: relative;
  float: right;
}

 .holder {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hub-img:hover {
	opacity: 0.3;
}

a.hub-link:link{
	color: black;
	text-decoration: none;
}
a.hub-link:visited{
	color: black;
	text-decoration: none;
}
a.hub-link:hover{
	color: #ffbe00;
	text-decoration: none;
}
a.hub-link:active{
	color: #fcedc3;
	text-decoration: none;
}

.hub-img:hover {
	opacity: 0.6;
}

.confirm{
	text-align: center;
}

.confirm-button{
	position: relative;
	display: block;
	margin: auto;
	top: 5rem;
	
}

.pay-button{
	display: block;
	margin: auto;
}

.home-list{
	background-color: #ffffff;
	
   max-width: 70rem;
   display: block;
   margin: auto;
   margin-bottom: 5rem;
   padding-left: 1em;
   padding-right: 1em;
}

.textgridcontainer {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
}

.contactgridcontainer {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	max-width: 70rem;
  
   margin: auto;
   margin-bottom: 10rem;
   padding: 1em;
}

.onethirdbox {
	max-width: 33%;
	flex-grow: 1;
	padding-left: 1em;
	padding-right: 1em;
}

.twothirdbox {
	max-width: 60%;
	flex-grow: 2;
	padding-left: 1em;
	padding-right: 1em;
}

.about-content{
	

   max-width: 70rem;
   display: block;
   margin: auto;
   margin-bottom: 10rem;
}

.col {
	width: 50%;
	float: left;
}

.col:nth-of-type(odd){
	padding-right: 1em;
}

.articlecontainer {
   	max-width: 70rem;
   	margin: auto;
}

a {
	color: #d37f00;
	text-decoration: none;
}

a:hover {
	color: #ffbe00;
	text-decoration: underline;
}

.reviews{
	background-color:#ededed;
	max-width: 50em;
	padding: .5em;
	margin-bottom: 2em;
}

.link-item{
	font-family: Lato;
	margin: 2em;
	
}

.sm-item{
	width: 2em;
	height: auto;
	margin: 1em;
	
	
}

@media(max-width: 50em){ /*  for shop page grid view*/
	.box-item{
		flex: 1 1 100%;
	}
}

@media all and (max-width: 30em){
	.textgridcontainer, .contactgridcontainer, .grid-wrapper {
		flex-flow: column wrap;
	}
	.onethirdbox{
		max-width: 100% !important; 
		margin: auto;
	}
	.twothirdbox {
		max-width: 100% !important;
		margin: auto;
	}
	.col{
		width: 100%; 
	}
	.col:nth-of-type(odd){
		padding-right: 0em;
	}
	.nav-header{
		flex-flow: column wrap;
	}
	.articlecontainer{
		padding: 1em;	
	}
	.featureddate{
		font-size: 1.5em;	
	}
	.logo-name {
		visibility: hidden; 
		display: none;
	}
	.columns {
		padding-right:0em;
		align-content: center;
	}
	.logo {
		position: absolute;
		left:11em;
	}
	.navbar-item a {
		text-align: left;
	}
	.navbar {
		margin-left:-1.75em;
	}
	.items, .more-img, .prod-reviews {
		margin-right: 1em;
		margin-left: 1em;
	}
	.item-text{
	margin-top: 0em;
	}
	.product-text{
		text-align: center;
	}
	h3.product-price {
		display: block;
		text-align: center;
		margin-top:0em;
		margin-bottom: -0.5em;
	}
	#specs-list {
		margin-left:0em;
	}
}
