*, *::after, *::before{
  box-sizing: border-box; 
}

.grid-wrapper{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.swatch-wrapper > *{
	flex-grow: 1;
	flex-basis: 33%;
}

.container > * {
	flex-grow: 1;
	flex-basis: 50%;
}

.header-wrapper > *{
	flex-grow: 1;
	justify-content: space-between;
	align-items: flex-end;
	background-color: white;
	
}

.nav-header{
	display: flex;
	max-width: 70em;
    margin-left: auto;
    margin-right: auto;
	align-items: center;
	margin-bottom: 1em;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

.navbar-item {
	float: right;
}

.navbar-item a {
	color: black;
	display: block;
	font-family: "Khand", sans-serif;
	text-align: right;
	padding: 1em;
	text-decoration: none;
}

.navbar-item a:hover {
	color: #ffbe00;
}

.logo {
	width:5em;
}

.sidenav {
  width: 130px;
  position:fixed;
  z-index: 1;
  top: 150px;
  left: 15px;
  background: rgb(201, 201, 201);
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(0, 0, 0);
  display: block;
}

.sidenav a:hover {
  color: #5a5a5a;
}

body{ margin: 20px; }

#main {
margin-left: 150px; 
  
  padding: 0px 10px;
}




div.content-wrapper > *{
	flex-grow: 1;
	flex-flow: column wrap;
	flex-basis: 100%;
}

.columns {
	padding-bottom: 3em;
	padding-right: 1em;
}


@media all and (max-width: 30em){
	.grid-wrapper{
		flex-flow: column wrap;
	}

}

img {
	width: 100%;
}



code {
	background-color: #d9d9d9;
}

section {
	margin-bottom: 3em;
	background-color: #ededed;
	padding: 1em;
}

ul {
  list-style: none; 
}

.ul-list li::before {
  content: "\2022";  
  color: #ffbe00; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}

input {
	width: 100%;
	height: 5em;
	
}


.form{
	max-width: 70%;
	padding-right: 10em;
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.links {
	color: #ffbe00;
	text-decoration: none;
}

a:hover.links {
	color: #ff9900;
	text-decoration: underline;
}

.logo-name{
	font-family: "Din Condensed";
	font-size: 4em;
	position: relative;
	top: -10px;
}
.header {
	font-family: "Impact", "DIN Condensed Bold", Helvetica, sans-serif;
	font-size: 3em;
}


}
.main-header {
	font-family: "Khand", sans-serif;
}

.sub-header {
	font-family: "Khand", sans-serif;
	font-weight: 300;
}

h1{
	font-family:  "DIN Condensed Bold", Helvetica, sans-serif;
	font-size: 3em;
}

h2{
	
	font-family: "Khand", sans-serif;
}

h3{
	font-family: "Khand", sans-serif;
	font-weight: 300;
}

.body-txt {
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

a{
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

p{
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.button {
	font-family: "Khand", sans-serif;
	background-color: white;
	border: solid 2px;
	padding: 1em;
	display: inline-block;
	text-decoration: none;
}

.button:hover {
	background-color: black;
	color: white;
}

.button:visited {
	color: #ffbe00;
}



.product {
	width:100%;
	padding-top: 2em;
	padding-left: 2em;
}


	

.product-text{
	display: inline;
	margin-top: 5em;
}



.product-price{
	display: inline;
	
}


.product-body-txt {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	padding-top: 2em;
}

div.headerstyle {
	padding: 0em;
}

#main-color {
	background-color: white;
	text-align: center;
}

#other-main-color {
	background-color: black;
	color: white;
	text-align: center;
}

#secondary-color {
	background-color: #ffbe00;
	text-align: center;
}

#inline {
	display: inline;
}

#black {
	background-color: black;
}

#dkgrey {
	background-color: #575757;
}

#grey {
	background-color: #9e9e9e;
}

/**Pure CSS Star Rating Widget**/
fieldset, label { margin: 0; padding: 0; }


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\2605";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.box{
	display: -webkit-flex;
	display:  -ms-flex;
	display:  flex;
	flex-wrap: wrap;
	

	justify-content: space-around;
	margin-left:  auto;
	margin-right:  auto;
	width: 80%;
	align-content: center;
}

.flex-row1{
	display: inline-block;
	transition:  background-color 0.5s ease-out;
}
.flex-row2{
	display: inline-block;
	transition:  background-color 0.5s ease-out;
}


.box-item{
	height: 30%;
	width: 30%;
	padding: 1em 1em;
	flex: 1 1 30%;
	transition: .5s ease;
}

.box-item:hover {
	
	height:35% !important;
	width:35% !important;

	opacity: 0.6;
}

.label{
	font-family: Din Condensed;
}

@media(max-width: 50em){
	.box-item{
		flex: 1 1 100%;
	}
}

.sitemap{
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	align-self: center;
	border: 1px black;
}

.price{
	font-size: 20px;
	position: relative;
	font-weight: normal;
	text-align: right;
}

.prod-name{
	font-size: 1.5rem;
}

#footer {
	background-color: #ededed ;
	width: 100%;
	text-align: center;
	align-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 80px;
}


.cart-text{
	display: inline;
	margin-top: 1em;
}

.cart-header{
	margin-top: 0px;
	position: relative;
	top: -2rem;
	padding-left: 50px;
}

.product-cart{
	width: 25%;
	align-self: left;
	margin: 2rem 2rem;
}

.cart-price{
	text-align: right;
	
}

#amt-cart{
	width: 50px;
	height: 1.5rem;
	padding-right: 10px;
}

.inline-cart {
  display: flex;
  flex-wrap: row wrap;

  align-items: center;
  vertical-align: center;
  position: relative;
  float: right;
}

#cart-d{
	padding-right: 1rem;
}
#total{
	float: right;
}

#pay{
	float: right;
	width: 10em;
	height: 3em;
}
 #cart-list{
	 padding-bottom: 3em;
 }


 .holder {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 #about{
	 display: inline-flex;
	 flex-direction: column;
	 flex-wrap: wrap;
 }

 .hub-img:hover {
	opacity: 0.3;
}

#about1{
	height:40rem;
	object-fit: cover;
	opacity: 80%
	

}


#about2{
	height:20rem;
	object-fit: cover;
	opacity: 80%
	

}

#about3{
	position: relative;
	top: -0.25rem;
	height:20rem;
	object-fit: cover;
	opacity: 80%
	
}

a.hub-link:link{
	color: black;
	text-decoration: none;
}
a.hub-link:visited{
	color: black;
	text-decoration: none;
}
a.hub-link:hover{
	color: #ffbe00;
	text-decoration: none;
}
a.hub-link:active{
	color: #fcedc3;
	text-decoration: none;
}

.hub-img:hover {
	opacity: 0.6;
}