/**
slidehow from https://www.w3schools.com/howto/howto_js_slideshow.asp
**/
*, *::after, *::before{
  box-sizing: border-box; 
}

body{ margin: 0px; }

img {
	width: 100%;
	align: center; 
}


.logo-name{
	font-family: "Din Condensed";
	font-size: 4em;
	position: relative;
	top: -10px;
}
.header-wrapper > {
	flex-grow: 1;
	justify-content: space-between;
	align-items: flex-end;
	background-color: white;
	
}

.nav-header{
	display: flex;
	max-width: 70em;
    margin-left: auto;
    margin-right: auto;
	align-items: flex-end;
	margin-bottom: 1em;
	margin-top: 2em;
}

.navbar-item {
	float: right;
}

.navbar-item a {
	color: black;
	display: block;
	font-family: "Khand", sans-serif;
	text-align: right;
	padding: 1em;
	text-decoration: none;
}

.navbar-item a:hover {
	color: #ffbe00;
}

.logo {
	width:5em;
}
section:nth-of-type(even) {
	margin-top:7em;
	margin-bottom: 7em;
	
}

section{
	 max-width: 70rem;
   display: block;
   margin: auto;
   margin-bottom: 1rem;
   padding-left: 1em;
   padding-right: 1em;
  
}

h1, h2 {
	font-family: "Khand", sans-serif;
}

p, label{
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.slideshow {
	
	   
   display: block;
   margin: auto;
   max-width: 70rem;
   margin-bottom: 10rem;
}

.slide {
	display: none;
}



.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	max-width: 70rem;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	
	border-radius: 3px 0 0 3px;

}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.dots {
	text-align: center;
	margin-top: -2em;
	position: relative;
	top: -10rem;
	z-index: 2;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 1em;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #fff;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.grid-wrapper{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.header-wrapper > *{
	flex-grow: 1;
	justify-content: space-between;
	align-items: flex-end;
	background-color: white;
}

.columns {
	padding-bottom: 3em;
	padding-right: 1em;
}

.header {
	font-family: "Impact", "DIN Condensed Bold", Helvetica, sans-serif;
	font-size: 3em;
}

div.headerstyle {
	padding: 0em;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}



.textgridcontainer {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
}

.contactgridcontainer {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	max-width: 70rem;
  
   margin: auto;
   margin-bottom: 10rem;
}

.aboutimgbox {
	max-width: 33%;
	flex-grow: 1;
}

.abouttextbox {
	max-width: 60%;
	flex-grow: 2;
	margin-left: 1em;
	margin-right: 1em;
}

.about-content{
	

   max-width: 70rem;
   display: block;
   margin: auto;
   margin-bottom: 10rem;
}

.col {
	width: 50%;
	float: left;
}

.col:nth-of-type(odd){
	padding-right: 1em;
}

@media all and (max-width: 30em){
	.textgridcontainer {
		flex-flow: column wrap;
	}
	.aboutimgbox{
		max-width: 100%;
		margin: auto;
	}
	.abouttextbox {
		max-width: 100%;
		flex-grow: 2;
		margin: auto;
	}
	.col{
		width: 100%;
	}
	.col:nth-of-type(odd){
		padding-right: 0em;
	}
}

.articlecontainer {
	width: 75%;
   	max-width: 70rem;
   	display: block;
   	margin: auto;
}

/**
https://www.w3schools.com/css/css_form.asp
**/

input {
	width: 100%;
	margin-bottom: 1em;
}

select {
	width: 100%;
	margin-bottom: 1em;
}

#comment {
	height: 10em;
	resize: none;
	width: 100%;
	margin-bottom: 1em;
}

#inline {
	display: inline;
}

#footer {
	background-color: #ededed ;
	width: 100%;
	text-align: center;
	align-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 80px;
}


/**
https://www.w3schools.com/css/tryit.asp?filename=trycss_form_button
**/

.button {
	font-family: "Khand", sans-serif;
	background-color: white;
	border: solid 2px;
	padding: 1em;
	margin:  2em 0;
	display: inline-block;
	text-decoration: none;
	width: 30%;
}

.button:hover {
	background-color: black;
	color: white;
}

.button:visited {
	color: #ffbe00;
}

#flexbox{
	position: relative;
	top: -12rem;
}

.flex-row{
    display: inline-block;
    transition:  background-color 0.5s ease-out;
}

.box{
    display: -webkit-flex;
    display:  -ms-flex;
    display:  flex;
    flex-wrap: wrap;
    

    justify-content: space-around;
    margin-left:  auto;
    margin-right:  auto;
    width: 80%;
    align-content: center;
}



.box-item{
    height: 25%;
    width: 25%;
    padding: 1em 1em;
    flex: 1 1 25%;
    transition: .5s ease;
}

.box-item:hover {
    
    height:35% !important;
    width:35% !important;

    opacity: 0.6;
}

.price{
	font-size: 20px;
	position: relative;
	font-weight: normal;
	text-align: right;
	font-family: Din Condensed;
}

.prod-name{
	font-size: 1.5rem;
	font-family: Din Condensed;
}


